<div class="container">
  <article ng-repeat="text in $ctrl.bodyText" ng-if="$ctrl.index === text.part">
    <p ng-repeat="paragraph in text.body" class="slide">{{paragraph}}</p>
    <div class="well" ng-if="text.code">
      <ui-codemirror ui-codemirror-opts="$ctrl.codeEditorOptions" ng-model="text.code"></ui-codemirror>
    </div>
    <p ng-if="text.afterCode" ng-repeat="paragraph in text.afterCode" class="slide">{{paragraph}}</p>
    <challenge-details challenge="$parent.$ctrl.challenge" ng-if="text.challengeId"></challenge-details> 
  </article>
  <div align="center" style="padding: 10px">
    <button ng-click="$ctrl.rewind()" class="btn">Go Back</button>
    <button ng-click="$ctrl.advance($ctr.index)" class="btn btn-primary">Continue</button>
  </div>
</div>