<div class="container">
  
  <h1 align="center">Challenge: {{challenge.title}}</h1>
  <h5 align="center">Description: {{challenge.description}}</h5>
  <h5 align="center">Difficulty: {{challenge.difficulty}}</h5>
  <h5 align="center">Author: {{challenge.author.name}}</h5>
  <hr>

  <h3>Code:</h3>
    <div class="well">
      <ui-codemirror ui-codemirror-opts="codeEditorOptions" ng-model="challenge.startCode"></ui-codemirror>
    </div>
  
  <h3>Test Code:</h3>
    <div class="well">
      <ui-codemirror ui-codemirror-opts="testEditorOptions" ng-model="challenge.testCode"></ui-codemirror>
    </div>

  <input class="btn btn-primary" type="submit" value="Run Tests" ng-click="submit(challenge.startCode, challenge.testCode)"></input>
  
  <h3>Results:</h3>
    <div class = "well well-lg">
      <p ng-repeat='piece in response track by $index'>{{piece}}</p>
      <p ng-repeat='piece in longerResponse track by $index'>{{piece}}</p>
    </div>

</div>