<div class="container">
	<h1>Your Profile</h1>

	<div class="well">
		<h3>Name: </h3>	
		<h3>Email: {{member.email}}</h3>	
		<h3>Score: {{member.score}}</h3>	
	</div>
	<hr>

	<h2>Your Completed Challenges</h2>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="challenge in completedChallenges">
			{{challenge.title}}
			{{challenge.difficulty}}
			{{challenge.solution}}
		</li>
	</ul>
	<hr>

	<h2>Your Created Challenges</h2>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="challenge in createdChallenges">
			{{challenge.title}}
			{{challenge.difficulty}}
			{{challenge.solution}}
		</li>
	</ul>

</div>