<div class="container">
  
  <h1 align="center">Challenge: {{$ctrl.challenge.title}}</h1>
  <h5 align="center">Description: {{$ctrl.challenge.description}}</h5>
  <h5 align="center">Difficulty: {{$ctrl.challenge.difficulty}}</h5>
  <h5 align="center">Author: {{$ctrl.challenge.author.name}}</h5>
  <hr>

  <h3>Code:</h3>
    <div class="well">
      <ui-codemirror ui-codemirror-opts="codeEditorOptions" ng-model="$ctrl.challenge.startCode"></ui-codemirror>
    </div>
  
  <h3>Test Code:</h3>
    <div class="well">
      <ui-codemirror ui-codemirror-opts="testEditorOptions" ng-model="$ctrl.challenge.testCode"></ui-codemirror>
    </div>

  <input class="btn btn-primary" type="submit" value="Run Tests" ng-click="submit($ctrl.challenge.startCode, $ctrl.challenge.testCode)"></input>
  
  <h3>Results:</h3>
    <div class = "well well-lg">
      <p ng-repeat='piece in response track by $index'>{{piece}}</p>
      <p ng-repeat='piece in longerResponse track by $index'>{{piece}}</p>
    </div>

  <p ng-show="passing">Passing: {{passing}}</p>

</div>