<div class="container">

<section ng-if="$ctrl.challenge.solution">
  <h1 align="center">Challenge: {{$ctrl.challenge.title}}</h1>
  <h5 align="center">Description: {{$ctrl.challenge.description}}</h5>
  <h5 align="center">Difficulty: {{$ctrl.challenge.difficulty}}</h5>
  <h5 align="center">Author: {{$ctrl.challenge.author.name}}</h5>
  <hr>
</section>  

  <div class="col-md-6" id="code">
    <h3>Code:</h3>
      <div class="well code">
        <ui-codemirror ng-if="$ctrl.challenge.solution" ui-codemirror-opts="codeEditorOptions" ng-model="$ctrl.challenge.startCode"></ui-codemirror>
        <ui-codemirror ng-if="!$ctrl.challenge.solution" ui-codemirror-opts="testEditorOptions" ng-model="$ctrl.challenge.startCode"></ui-codemirror>
      </div>
  </div class="col-md-6">
  
  <div class="col-md-6" id="testcode">
    <h3>Test Code:</h3>
      <div class="well testcode">
        <ui-codemirror ui-codemirror-opts="testEditorOptions" ng-model="$ctrl.challenge.testCode"></ui-codemirror>
      </div>
  </div class="col-md-6">

  <input class="btn btn-primary" type="submit" value="Run Tests" ng-click="submit($ctrl.challenge.startCode, $ctrl.challenge.testCode)"></input>
  
  <h3>Test Output:</h3>
    <div ng-if="response" class="well well-lg" id="testoutput">
    <!-- <div>{{response}}</div> -->
      <p ng-repeat='piece in response track by $index'>{{piece}}</p>
      <p ng-repeat='piece in longerResponse track by $index'>{{piece}}</p>
    </div>

  <h4 ng-if="passing">Passing: {{passing}}</h4>
  <h4 ng-if="failing">Failing: {{failing}}</h4>

  <input ng-if="!$parent.$ctrl.index && passing && !failing && passing == $ctrl.challenge.required && loggedIn" ng-click="completeChallenge({challengeId: $ctrl.challenge.id, submission: $ctrl.challenge.testCode})" class="btn btn-primary" type="submit" value="Complete Challenge and View Solution"></input>

  <input ng-if="!$parent.$ctrl.index && !loggedIn" ng-click="toggleSolution()" class="btn btn-primary" type="submit" value="View Solution"></input>

  <div ng-show="solution">
    <h3>Solution:</h3>
      <div class="well">
        <ui-codemirror ui-codemirror-opts="codeEditorOptions" ng-model="$ctrl.challenge.solution"></ui-codemirror>
      </div>      
  </div>

</div>