* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
  overflow: auto;
  padding-bottom: 180px;
}

footer {
  position: relative;
  margin-top: -30px; /* negative value of footer height */
  height: 30px;
  clear: both;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'created/main';
